extends layout

block content
  div.container.mt-4
    h1= title
    - let Ordersid = toShow._id
    - let Orders_name = toShow.name
    - let Orders_id = toShow.id
    - let Orders_price = toShow.price

    div.row
      div.col-md-6
        div(class='card')
          div(class='card-body')
            h5(class='card-title') Orders ID is:
            p(class='card-text') #{Ordersid}
      div.col-md-6
        div(class='card')
          div(class='card-body')
            h5(class='card-title') Orders name is:
            p(class='card-text') #{Orders_name}

    div.row
      div.col-md-6
        div(class='card')
          div(class='card-body')
            h5(class='card-title') Orders id is:
            p(class='card-text') #{Orders_id}
      div.col-md-6
        div(class='card')
          div(class='card-body')
            h5(class='card-title') Orders price is:
            p(class='card-text') #{Orders_price}
